<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body ng-cloak ng-app="trello">
    <header>
        <div class="row">
            <h1 class="app-name left">Trello</h1>
        </div>
    </header>
    <section id="lists-container" 
             ng-controller="listsController as listsCtrl"
             class="lists-container">
        <div class="row">
            <section class="list list-inline"
                     ng-repeat="list in listsCtrl.lists"
                     ng-controller="listController as listCtrl">
                <h1>{{list.listName}}</h1>

                <div class="card" 
                     ng-repeat="card in listCtrl.getCards(list)"
                     ng-controller="cardController as cardCtrl">
                   
                    <div ng-if="!cardCtrl.isEditing">
                        {{card.description}}
                        <div ng-click="cardCtrl.editCard(card)"
                             class="edit-small edit-card hand">
                        </div>
                        <div ng-click="cardCtrl.deleteCard(card)"
                             class="remove-small remove-card hand">
                        </div>
                    </div>

                    <div ng-if='cardCtrl.isEditing'>
                        <form ng-submit="cardCtrl.updateCard()">
                            <input  type="text" 
                                    ng-model="cardCtrl.editingCard.description"
                                    close-editing
                                    is-editing="cardCtrl.isEditing">
                            <select class="select-list"
                                    ng-model="cardCtrl.editingCard.list_id"
                                    ng-change="cardCtrl.updateCard()"
                                    ng-options="list.id as list.listName for list in listsCtrl.lists">
                            </select>
                        </form>
                    </div>

                </div>


                <a ng-click="listCtrl.removeList(list)" class="hand">
                    <div class="remove remove-list"></div>
                </a>

                <section class="new-card">
                    <form ng-submit="listCtrl.createCard(list)">
                        <input type="text" 
                                ng-model="listCtrl.cardDescription"
                                class="card-input"
                                placeholder="New card">
                    </form>
                </section>
            </section>



            <section class="list new-list list-inline">
                <form ng-submit="listsCtrl.addlist()">
                    <input type="text" ng-model="listsCtrl.listName">
                </form>
            </section>
        </div>
    </section>




    <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/factories/listFactory.js"></script>
    <script src="./js/factories/cardFactory.js"></script>
    <script src="./js/controllers/listsController.js"></script>
    <script src="./js/controllers/listController.js"></script>
    <script src="./js/controllers/cardController.js"></script>
    <script src="./js/directives/closeEditing.js"></script>

</body>
</html>